@import '../../global.scss';

@mixin centerModalContent($gap: 15px) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin addSmth {
    gap: 30px;
    .addContent{
        @include centerModalContent(30px);

        > div {
            @include centerModalContent(5px);
        }
    }
}

.CenterModal{
    @include boxShadow;
    min-width: 35vw;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 100;
    pointer-events: none;
    background-color: white;
    opacity: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: $textColor;
    gap: 25px;
    transition: none;

    &.open{
        pointer-events: auto;
        opacity: 1;
        transition: $transition;
    }

    .header{
        display: flex;
        justify-content: space-between;
        padding: 0 2px;

        h2{
            font-size: 24px;
            color: $textColor;
        }

        svg{
            width: 25px;
            height: 25px;
            cursor: pointer;
            transition: $transition;
            color: lighten($textColor, 50%);

            &:hover{
                color: $textColor;
                transform: scale(1.15);
            }

            @include active;
        }
    }
    
    .save{
        @include defaultButton;
        width: 200px;
        height: 45px;
        margin-top: 10px;
    }

    input{
        @include input;
    }

    h3{
        font-size: 21px;
        color: lighten($textColor, 40%);
        font-weight: 500;
    }

    button{
        @include defaultButton();
        padding: 12px;
        width: 50%;
    }
}

.payment{
    .addCardBtn{
        @include boxShadowButton;
        width: 100%;
        height: 60px;
        justify-content: space-between;
        padding: 0 20px;
    }
}

.logOut{
    .logOutContent{
        @include centerModalContent();

        .logOutButton{
            @include defaultButton;
            padding: 15px 20px;
            width: 100%;
        }

        .cancelButton{
            @include secondaryButton;
            padding: 15px 20px;
            width: 100%;
        }
    }
}

.changeProfile{
    .changeProfileContent{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.share{
    .shareContent{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    p{
        color: lighten($textColor, 40%);
    }

    input{
        @include input;
        width: 100%;
    }

    button{
        @include defaultButton;
        padding: 10px;
        width: 150px;
        font-size: 14px;
    }
}

.addProduct{
    @include addSmth;

    .selectWrapper{
        width: 100%;
        display: flex;
        gap: 8%;

        .selectButton {
            @include defaultButton(#fff);
            width: 50%;
            font-size: 19px;
            color: $textColor;
            gap: 10px;
            border: 2px solid #d5d5d5;
            padding: 15px 10px;

            &:hover {
                border-color: $siteBcColor;
            }

            &.active {
                border-color: $siteBcColor;
            }
        }
    }
}

.addCategory{
    @include addSmth;
}