@import '../global.scss';

.Seller {
    @include catalogPageWrapper;

    .sellerDetails {
        @include boxShadow;
        padding: 30px;
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .sellerDetailsMain{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: space-between;

            .sellerRating{
                display: flex;
                align-items: center;
                gap: 5px;

                svg{
                    width: 20px;
                    height: 20px;
                    color: $starColor;
                }

                p{
                    color: lighten($textColor, 50%);
                }
            }
        }

        .sellerDetailsParametersWrapper {
            display: flex;
            gap: 20px;

            .sellerDetailsParameter{
                @include boxShadow;
                border-radius: 10px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                justify-content: space-between;

                span{
                    letter-spacing: 2px;
                }
            }
        }
    }

    .productListBlock{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .productList {
            @include productList;
        }
    }
}