@import '../global.scss';

.RecommendedBlock {
    margin-top: 50px;

    .productListWrapper, 
    .recentlyViewed{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 25px;

        .productList{
            @include productList(180px);
        }
    }
}