@import './global.scss';

.comment {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    @include boxShadow;

    .header {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;


        div {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .userImgWrapper {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #f0f0f0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;

            .userIconWrapper {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        span {
            font-size: 16px;
            font-weight: 600;
            color: $textColor;
        }

        .rating {
            display: flex;
            align-items: center;
            gap: 6px;

            .starIcon {
                width: 25px;
                height: 25px;
                color: #f39c12;
            }
        }
    }

    .textBlock {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 65px;

        p {
            font-size: 16px;
            color: $textColor;
        }

        span {
            font-size: 14px;
            font-weight: 500;
        }
    }

    .imagesBlock{
        width: 100%;
        height: 100px;
        padding: 5px;
        padding-left: 65px;
        display: flex;
        gap: 10px;

        img{
            height: 100%;
            border-radius: 10px;
            cursor: pointer;
            transition: $transition;

            &:hover{
                transform: scale(1.05);
            }

            @include active;
        }
    }

    .sellerAnswerBlock{
        width: 100%;
        min-height: 100px;
        padding-left: 65px;

        .sellerAnswer{
            width: 100%;
            height: 100%;
            background-color: rgb(236, 235, 235);
            border-radius: 10px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            h5{
                font-size: 18px;
                color: lighten($textColor, 25%);
            }
        }
    }
}