@import './global.scss';

.Feedback{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;

    .headerTop{
        width: 100%;

        .backButton {
            background: none;
            border: none;
            cursor: pointer;
            transition: $transition;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 17px;
            color: lighten($textColor, 30%);
            
            &:hover {
                color: $siteBcColor;
                transform: scale(1.1);
            }

            &:active{
                color: darken($siteBcColor, 10%);
            }
            
            @include active;

            svg {
                width: 32px;
                height: 32px;
                stroke-width: 2;
            }
        }
    }

    .headerBottom{
        width: 100%;
        height: 180px;
        display: flex;
        align-items: center;
        gap: 20px;
        @include boxShadow;
        padding: 30px;
        border-radius: 10px;

        img{
            height: 100%;
            border-radius: 10px;
            transition: $transition;
            cursor: pointer;

            &:hover {
                transform: scale(1.05);
            }

            @include active;
        }

        .headerBottomInfo{
            width: 50%;
            margin-right: 10px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 15px 0;
            position: relative;

            a{
                width: fit-content;
                height: fit-content;
                display: flex;
                position: relative;
                align-items: center;
                gap: 10px;
                @include underline;

                &:hover{
                    *{
                        color: $siteBcColor;
                    }
                }

                h3, p{
                    font-size: 17px;
                    transition: $transition;
                }
                    

                h3{
                    color: $textColor;
                }

                p{
                    color: lighten($textColor, 30%);
                }
            }

            span{
                display: flex;
                align-items: center;
                gap: 5px;

                svg{
                    width: 20px;
                    height: 20px;
                    color: $starColor;
                }

                p{
                    color: lighten($textColor, 50%);
                }
            }
        }

        .headerBottomPrice{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .headerBottomButtons{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 20px;

            .leftSide{
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                button{
                    @include defaultButton;
                    width: 200px;
                    height: 50%;
                }
                
                .secondaryButton {
                    @include secondaryButton;
                }
            }

            .likeButton{
                @include actionButton;


                svg{
                    width: 36px;
                    height: 36px;
                    color: $likeColor;
                }
            }
        }
    }
}


.feedbacks{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .feedbackTopSide{
        @include boxShadow;
        padding: 30px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .feedbackTopSideTitles{
            @include tabButtons;
        }

        .feedbackTopSideWrite{
            display: flex;

            button{
                @include defaultButton;
                width: 200px;
                height: 50px;
                font-size: 17px;
                font-weight: 500;
            }
        }

        .feedbackTopSideSort{
            display: flex;
            align-items: center;
            gap: 10px;

            &:hover{
                span{
                    color: $textColor;
                }
            }

            span{
                color: lighten($textColor, 40%);
                font-size: 17px;
                transition: $transition;
            }

            select{
                border: 1.5px solid darken($siteBcColor, 2%);
                border-radius: 2px;
                padding: 2px;
                cursor: pointer;
                transition: $transition;
                outline: 1px solid transparent;

                &:hover{
                    border-color: lighten($siteBcColor, 10%);
                    outline-color: lighten($siteBcColor, 20%);
                }
            }
        }
    }
    
    .commentList{
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
}