@import "./global.scss";

.FilterModal{
    width: 400px;
    height: 100vh;
    background-color: #FFF;
    position: fixed;
    z-index: 98;
    padding: 120px 20px 20px 20px;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: $transition;;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include boxShadow();

    
    &.open {
        transform: translateX(0);
    }
}

.filterList{
    display: flex;
    flex-direction: column;
    gap: 18px;
    overflow-y: auto;
    padding: 20px 10px;
}

.filterTitleWrapper{
    margin-bottom: 10px;

    .filterHeader{
        cursor: default !important;
    }
}

.filterTitleWrapper,
.filterItem {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    @include boxShadow();

    .filterHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            font-size: 21px;
            font-weight: 600;
            margin: 0;
            color: $textColor;
        }

        h5{
            color: lighten($textColor, 50%);
        }

        button {
            background: transparent;
            border: none;
            cursor: pointer;
            transition: $transition;

            &:hover {
                transform: scale(1.1);
                svg {
                    color: $textColor;
                }
            }

            @include active;

            svg {
                width: 28px;
                height: 28px;
                color: lighten($textColor, 50%);
                transition: $transition;
            }
        }
    }

    .deliveryTimeItemsWrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label{
            width: fit-content;
        }
    }
    
    .priceItemsWrapper{
        width: 100%;
        height: 70px;
        // @include blackBorder;
        display: flex;
        gap: 10px;

        .priceInput{
            width: 50%;
            height: 100%;
            // @include blackBorder;
            display: flex;
            flex-direction: column;
            gap: 5px;

            input{
                @include input;
                width: 100%;
                height: 40px;
                border: 2px solid rgb(184, 184, 184);
                border-radius: 5px;
                background: transparent;
                padding: 0 10px;
                transition: .25s;
            }
        }
    }
}

.buttonsWrapper{
    width: 100%;
    @include boxShadow;
    border-radius: 10px;
    padding: 25px 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    .showButton{
        @include defaultButton;
        width: 80%;
        height: 50px;
    }

    .resetButton{
        @include secondaryButton;
        width: 80%;
        height: 50px;
    }
}